# Updating file according to: https://github.com/openstack/requirements/blob/icehouse-eol/global-requirements.txt
pbr>=0.6,<1.0
anyjson>=0.3.3,<=0.3.3
httplib2>=0.7.5,<=0.9
jsonschema>=2.0.0,<3.0.0
testtools>=0.9.34,!=1.2.0,!=1.4.0,<=1.7.1
lxml>=2.3,<=3.4.2
boto>=2.12.0,!=2.13.0,<2.35.0
paramiko>=1.9.0,<=1.15.2
netaddr>=0.7.6,<=0.7.14
python-glanceclient>=0.9.0,<=0.14.0
python-keystoneclient>=0.7.0,<0.10.0
python-novaclient>=2.17.0,<2.18
python-neutronclient>=2.3.4,<=2.3.9
python-cinderclient>=1.0.6,<=1.0.9
python-heatclient>=0.2.3,<=0.2.12
python-ironicclient<0.4
python-saharaclient>=0.6.0,<0.8
python-swiftclient>=1.6,<=2.3.1
testresources>=0.2.4
keyring>=1.6.1,!=2.0,!=2.0.1,!=2.0.2,!=2.0.3,!=3.3
testrepository>=0.0.18,<=0.0.20
oslo.config>=1.2.0,<1.5
six>=1.6.0,<=1.9.0
iso8601>=0.1.9,<=0.1.10
fixtures>=0.3.14,<=1.0.0
testscenarios>=0.4,<=0.4
